*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/tests/Browser/Screenshots
/.vscode
/bootstrap/cache
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
.env*
docs-dev
docs-dev/*
public/docs-*
supporting-docs
supporting-docs/*
public/docs-index.json